<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <form class="form-horizontal">

              <div class="form-group">
                <label for="id" class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10">
                  <input type="id" class="form-control" id="id" ng-model="record.id" required>
                </div>
              </div>

              <div class="form-group">
                <label for="miles" class="col-sm-2 control-label">Miles</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="Miles" ng-model="record.miles" required>
                </div>
              </div>

             <div class="form-group">
                <label for="screenshot" class="col-sm-2 control-label">Screenshot</label>
                <div class="col-sm-10">
                    <input type="file" id="screenshot"  ng-model="record.screenshot" required>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">
                      <span>Check In</span>
                      <span>Sign In</span>
                  </button>
                </div>
              </div>
            </form>

        </div>
    </div>
</div>
